:root {
  --dark-blue: #053280;
  --light-blue: #008ecd;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
a,
div,
span,
p,
ul,
li {
  font-family: 'Bahij TheSansArabic Plain' !important;
  letter-spacing: 0 !important;
}


/* -------------------header------------------ */
#header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

}

.logo,
.white-logo {
  width: 140px;
}

.video-container {
  position: relative;
  height: 100vh;
  /* width: 100vw; */
  overflow: hidden;
  background: url(../images/civil_engineer_construction_worker_manager_holding_digital_table\ copy.jpg);
  background-size: cover;
  background-position: center;

}

#video-background {
  position: absolute;
  height: 100%;
  z-index: -1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.container {
  padding: 10px 5%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 6px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a.active {
  color: #fff;
}

@media(max-width:1200px){
nav {
  border-bottom: 2px solid rgba(255, 255, 255, 0.95);
}
}
nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: var(--dark-blue);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a.active:after {
  width: 100%;
  background: #fff;
}

nav ul li a:hover:after {
  width: 100%;

}

nav i {
  position: absolute;
  visibility: hidden;
  display: none;
  font-size: 25px;
  cursor: pointer;

}

.holder {
  display: flex;
  flex-direction: row-reverse;
}

@media(max-width: 800px) {
  nav i {
    visibility: visible;
    display: block;
    font-size: 25px;
    cursor: pointer;
    align-self: flex-end;
  }

  nav ul {
    background: var(--light-blue);
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul i {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}

.sticked {
  /* background: rgba(14, 29, 52, 0.9); */
  background: rgba(255, 255, 255, 0.95);
  padding: 0 0;
  box-shadow: 0px 2px 20px rgba(14, 29, 52, 0.1);
  transition: all .6s ease-in-out;
}

.sticked nav ul li a {
  color: #444;
}

nav ul li a:hover::after {
  background: var(--dark-blue);
}

nav ul li a:hover {
  color: var(--dark-blue);
}

/* .sticked nav ul li a::after{
  background: black;
}
.sticked nav ul li a:hover::after{
  background: var(--dark-blue);
}

*/
.header-text {
  position: absolute;
  top: 25vh;
  
  font-weight: bolder;
  padding: 6rem;
  /* text-align: center; */
  /* left: 10vw; */

}

.header-text h1 {
  color: #fff;
  text-shadow: 2px 2px 5px var(--dark-blue);
}

.header-text h2 {
  color: var(--dark-blue);
  text-shadow: 2px 2px 5px #fff;
}

/* ---------------cards------------------ */
.cards .container {
  
}

.cards .card-product {
  /* display: flex; */
  /* flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 30px;
  /* justify-content: space-evenly; */
  /* align-items: flex-start; */
  /* width: 100%; */
  padding: 4rem;
  margin-top: 70px;
    margin-bottom: 70px;
    /* padding: 0px 20px 0px 20px; */
    /* flex-wrap: wrap; */
}

.cards .card-product:nth-child(2n+1) {
  background: rgba(5, 50, 128, 0.5);
  
}

.cards .slogan img {
  width: 200px;

}

.cards .slogan {
  text-align: center;
  width: 400px;
  margin: auto;
}


.cards{
  position: relative;
}

.elementor-background-overlay{
  background-image: url(../images/logo-diagonal.png);
  background-position: bottom right;
  background-repeat: repeat;
  background-size: auto;
  opacity: 0.1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.cards .card-text {
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  max-width: 40vw;
  text-align: center;
  /* margin: auto; */
  align-self: center;
    justify-self: center;
    padding: 20px;
}
.cards .card-product>img {
  max-width: 40vw;
  /* height: 300px; */
  /* box-shadow: 2px 2px 4px var(--dark-blue); */
  border-radius: 3px;
  margin: auto;
  align-self: center;
  justify-self: center;
}
@media(min-width:1200px){
  .spacer-0,
  .spacer-1,
  .spacer-2,
  .spacer-3{
    display: none;
  }
}
@media(max-width:1000px) {
  .spacer-1 {
    display: none;
  }
.cards .card-product{
  grid-template-columns: 1fr;
}
  .cards .card-product>img {
   
   max-width: 500px;
    
  }
.cards .card-text{
  max-width: 80vw;
  
}
    .cards .card-text p {
      width: 70vw;
      
    }
}

@media(max-width:800px) {
  .spacer-2 {
    display: none;
  }

  .spacer-3 {
    display: none;
  }

  .cards .card-product>img {
    width: 400px
  }

  .cards .card-text {
    /* width: 300px; */

  }
}

@media(max-width:550px) {
  .cards .card-text p{
    width: 90%;
    margin: auto;
  }
.cards .card-product{
  width: auto;
  padding: 20px;
  margin: auto;
}
  .cards .card-product>img {
    width: 300px;
    height: auto; 
    padding: 0;
  }

  .cards .card-text {
    padding: 10px;
    width: 250px;

  }

  .cards .card-product {
    
  }
    .cards .slogan {
      /* text-align: center; */
      width:250px;
      padding: 0;
      margin: 0;
      position: relative;
      /* left: -20px; */
    }
}

@media(max-width:360px) {

  .cards .card-product>img {
    width: 250px;
    /* height: 150px; */
  }
.cards .card-product {
  /* width: 250px; */
}

    .cards .card-product>img {
      width: 220px;}

            .cards .card-text {
              
              width: 180px;
      
            }
                        .cards .slogan {
                          width: 150px;
                        }
}
@media(max-width:270px){
  .cards .card-product>img {
      width: 180px;
    }
        .cards .card-text {
    
          width: 120px;
    
        }
                .cards .slogan img {
                  width: 100px;
                }
}




